# Build outputs
/.cache
/.playwright-mcp
/.lighthouseci
/.svelte-kit
/coverage
/node_modules
/public
/target

# AI
.ai
.claude
.qwen

# Env files
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

README.local.md
